<div>
    <h1 style="margin-left: 400px;">Insurance Approval</h1>
</div>
<span>

</span>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Insurance Approval</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Farmer Id</th>
                                        <th>Crop type</th>
                                        <th>Crop Name</th>
                                        <th>Insurance amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Kharif</td>
                                        <td>Rice</td>
                                        <td>20,000</td>
                                        <td>
                                            <div class="dropdown">
                                                <select name="insurance" id="insuranceapproval">
                                                    <option value="Approve">Approved</option>
                                                    <option value="deny">Deny</option>                                                  </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Rabi</td>
                                        <td>Wheat</td>
                                        <td>30,000</td>
                                        <td>
                                            <div class="dropdown">
                                                <select name="insurance" id="insuranceapproval">
                                                    <option value="Approve">Approved</option>
                                                    <option value="deny">Deny</option>                                                  </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Horticultural</td>
                                        <td>Mango</td>
                                        <td>30,000</td>
                                        <td>
                                            <div class="dropdown">
                                                <select name="insurance" id="insuranceapproval">
                                                    <option value="Approve">Approved</option>
                                                    <option value="deny">Deny</option>                                                  </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Kharif</td>
                                        <td>Sorgham</td>
                                        <td>35,000</td>
                                        <td>
                                            <div class="dropdown">
                                                <select name="insurance" id="insuranceapproval">
                                                    <option value="Approve">Approved</option>
                                                    <option value="deny">Deny</option>                                                  </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Rabi</td>
                                        <td>Oats</td>
                                        <td>20,000</td>
                                        <td>
                                            <div class="dropdown">
                                                <select name="insurance" id="insuranceapproval">
                                                    <option value="Approve">Approved</option>
                                                    <option value="deny">Deny</option>                                                  </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>