<body>
    <div class="main">
    <form #FarmerLoginForm="ngForm" (ngSubmit)="loginUser()" novalidate>
    <div class="login-box" style=" border-radius: 5%; box-shadow: black;">
        <img src="assets/images.jpg" width="135" height="135" style="display: block; margin-left: auto; margin-right: auto;">
        <h1 style="margin-left: 10px;">Farmer Login</h1>
        
        <label for="t2">Enter your Email ID:</label>
        <input 
                type ="email" 
                name = "t2" 
                [(ngModel)]=customer.email 
                required    
                email
                #email="ngModel"    
        /><br><br>
        <div 
              *ngIf = "email.invalid && (email.dirty || email.touched)"
              class = "alert">
              <div *ngIf="email.errors?.required">
                    Email is Required!!!
              </div>
              <div *ngIf="email.errors?.email">
                    Email is Wrong format!!! Right format : xyx@gmail.com
              </div>
        </div>
  
        <label for="t3">Enter your Password:</label>
        <input 
                type ="password" 
                name = "t3" 
                [(ngModel)]=customer.password 
                required
                minlength="6"
                #pass="ngModel"
         /><br><br>
         <div 
              *ngIf = "pass.invalid && (pass.dirty || pass.touched)"
              class = "alert">
     
              <div *ngIf="pass.errors?.required">
                          Enter you password!!!
              </div>
     
              <div *ngIf = "pass.errors?.minlength">
                          password must be atleast 6 characters
              </div>
          </div>      
          <div>
            <button type="submit" class="btn btn-light btn-lg" style=" height:30px; width: 80px;border-radius: 10%; 
            margin-top: 10px; color: rgb(255, 254, 254); background-color: rgb(231, 19, 19);">Login</button><br><br>
            <a routerLink="/ForgetPassword">Forget Password?</a> &nbsp;&nbsp;&nbsp;
            <a routerLink="/FarmerRegistration">New User? Register Here!!</a><br>
        </div>
        
        </div>   
    
    </form>
    </div>
</body>





