<br>
<div class="row">
    <div class="column">
      <div class="card">
          <h3>Crop Name:</h3><h4>Rice</h4>
          <h3>Fertilizer Used:</h3><h4>ABC</h4>
          <h3>Quantity:</h3><h4>5kg</h4>
          <h3>Base Price:</h3><h4>250</h4>
          <h3>Current Price:</h3><h4>260</h4>
          <a href="#" class="button glow-button"><h3>Bid</h3></a>
        </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Crop Name:</h3><h4>Wheat</h4>
        <h3>Fertilizer Used:</h3><h4>CDE</h4>
        <h3>Quantity:</h3><h4>10kg</h4>
        <h3>Base Price:</h3><h4>500</h4>
        <h3>Current Price:</h3><h4>600</h4>
        <a href="#" class="button glow-button"><h3>Bid</h3></a>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Crop Name:</h3><h4>Sorgham</h4>
        <h3>Fertilizer Used:</h3><h4>EFG</h4>
        <h3>Quantity:</h3><h4>5kg</h4>
        <h3>Base Price:</h3><h4>200</h4>
        <h3>Current Price:</h3><h4>230</h4>
        <a href="#" class="button glow-button"><h3>Bid</h3></a>
      </div>
    </div>
</div>
<!-- <br>
<div class="row">
    <div class="column">
      <div class="card">
        <h3>Crop Name:</h3><h3>Cotton</h3>
        <h3>Fertilizer Used:</h3><h3>MNC</h3>
        <h3>Quantity:</h3><h3>6kg</h3>
        <h3>Base Price:</h3><h3>350</h3>
        <h3>Current Price:</h3><h3>360</h3>
        <a href="#" class="button glow-button"><h3>Bid</h3></a>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Crop Name:</h3><h3>Barley</h3>
        <h3>Fertilizer Used:</h3><h3>LOP</h3>
        <h3>Quantity:</h3><h3>3kg</h3>
        <h3>Base Price:</h3><h3>280</h3>
        <h3>Current Price:</h3><h3>290</h3>
        <a href="#" class="button glow-button"><h3>Bid</h3></a>
      </div>
    </div>
</div>
   -->